---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Conections from '@/components/sections/Conections.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import Link from '@/components/Link.astro';
---

<Layout title="CV Personal">
	<main>
		<Hero />
		<About />
		<Education />
		<Experience />
		<Skills />
		<Projects />
		<Conections />
	</main>
	<KeyboardManager /> 
	<Link url="src/pages/Homepage.astro" link="Regresar a la página de Inicio"/>
</Layout>

<style>
	main{
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

</style>
