---
const { link, url, class: customClass } = Astro.props;
---

<section>
    {link && <a href={url} class={`link-button ${customClass ?? ''}`}><h2>{ link }</h2></a>}
    <slot />
</section>

<style>
    section {
        max-width: 700px;
        margin: 0 auto 72px;
    }

    .link-button h2 {
        width: 65%;
        display: flex;
        margin-bottom: 8px;
        line-height: 1.5;
        font-size: 1rem;
        color: black;
    }

    button-black-center {
        display: block; 
        text-align: center; 
    }

    .button-black-center h2 {
        background-color: black; 
        color: white; 
        padding: 1rem 2rem; 
        border-radius: 0.25rem;
        transition: background-color 0.3s, transform 0.3s; 
        display: inline-block; 
        margin: 0;
        text-decoration: none;
    }

    .button-black-center h2:hover {
        background-color: #ffffff;
        color: black;
        border: 1px solid black;
        transform: scale(1.05);
   
</style>